@media(max-width: 1140px) {
    .plans__item {
        width: 325px;
        padding: 30px 10px 40px 21px;
    }
}

@media(max-width: 1130px) {
    .services__inner img {
        width: 459px;
        height: 295px;
    }
}

@media(max-width: 1070px) {
    .subscribe__title {
        font-size: 28px;
        margin-right: 20px;
    }
    .subscribe__form-text {
        font-size: 15px;
    }
    .subscribe__form-title {
        font-size: 23px;
    }
}

@media(max-width: 1024px) {
    .plans__item {
        width: 275px;
    }
}

@media(max-width: 980px) {
    .services__text {
        line-height: 1.943;
        font-size: 13px;
    }
    .services__list-li {
        font-size: 13px;
        text-align: left;
    }
    .services__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        text-align: center;
    }
    .services__lists {
        margin: 0 auto;
    }
    .services {
        padding-top: 97px;
        padding-bottom: 92px;
    }
    .benefits__inner {
        flex-wrap: wrap;
    }
    .benefits__item {
        width: 50%;
        margin-bottom: 20px;
    }
    .benefits__item-text {
        width: 250px;
        margin: 0 auto;
    }
}

@media(max-width: 955px) {
    .subscribe__title {
        font-size: 22px;
    }
    .subscribe__form-title {
        font-size: 20px;
    }
    .subscribe__form {
        padding: 20px 15px;
    }
    .subscribe__form-email {
        width: 100%;
    }
}

@media(max-width: 905px) {
    .plans__inner{
        display: block;
    }
    .plans__item{
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 15px 10px 15px 21px;
    }
    .plans__item-list {
        margin-bottom: 13px;
    }
    .plans__item-price {
        margin-bottom: 32px;
    }
}

@media(max-width: 794px) {
    .subscribe__inner {
        display: block;
        text-align: center;
    }
    .subscribe__link {
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .services__inner img {
        display: none;
    }
    .services__title {
        font-size: 27px;
    }
    .services__subtitle {
        font-size: 13px;
    }
    .benefits__item-title {
        font-size: 16px;
        line-height: 1.467;
        margin-bottom: 17px;
    }
    .benefits__item-text {
        font-size: 13px;
        line-height: 1.743;
    }
    .benefits {
        padding-bottom: 100px;
    }
    .plans__title {
        font-size: 27px;
    }
    .plans__subtitle {
        margin-bottom: 65px;
    }
}

@media(max-width: 600px) {
    .top__title {
        margin-top: 150px;
        font-size: 27px;
    }
    .top__subtitle {
        font-size: 12px;
    }
    .benefits__item {
        width: 100%;
        margin-bottom: 28px;
    }
}

@media(max-width: 500px) {
    .services__lists {
        width: 100%;
    }
    .services__title::before {
        width: 41px;
    }
}

@media(max-width: 420px) {
    .services__lists {
        display: block;
    }
    .services__title {
        font-size: 24px;
    }
    .services__subtitle {
        font-size: 12px;
        margin-bottom: 58px;
    }
    .services__text {
        font-size: 12px;
    }
}

@media(max-width: 350px) {
    .subscribe__title {
        font-size: 20px;
        margin-right: 0;
    }
    .subscribe__form-btn {
        padding: 21px 22px;
    }
    .subscribe__form-title {
        font-size: 17px;
    }
    .top__title {
        font-size: 24px;
    }
    .top__subtitle {
        font-size: 10px;
    }
    .services__list-li {
        padding-bottom: 15px;
    }
}