*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body.lock {
  overflow: hidden;
}

@font-face {
  font-family: "Monsterrat bold";
  src: url("../fonts/montserrat-bold.ttf");
}

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.ttf");
}

.title {
  font-family: "Monsterrat bold";
  font-size: 30px;
  color: #60606e;
  text-transform: uppercase;
}

.top {
  background-image: url("../img/site-hero2.jpg");
  background-size: cover;
  min-height: 500px;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding-bottom: 44px;
  padding-top: 44px;
}

.header__logo {
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  position: relative;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  text-transform: uppercase;
  font-family: "Monsterrat bold";
  color: #60606e;
  margin: 0 20px 0 0;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top__title {
  margin-top: 175px;
  text-align: center;
  margin-bottom: 30px;
}

.top__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 165px;
}

.services {
  padding-top: 150px;
  padding-bottom: 155px;
  color: #60606e;
}

.services__title {
  font-size: 30px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.services__title::before {
  content: "";
  position: absolute;
  left: auto;
  bottom: -3px;
  width: 67px;
  height: 21px;
  background-color: #7beec7;
  z-index: -1;
}

.services__subtitle {
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  margin-bottom: 100px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__inner img {
  margin-top: 10px;
}

.services__text {
  line-height: 2.143;
  margin-bottom: 45px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 10px;
}

.services__lists {
  width: 494px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.services__list-li {
  padding-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.services__list li::before {
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -20px;
  top: -5px;
}

.benefits {
  padding-bottom: 155px;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.benefits__item {
  text-align: center;
  width: 250px;
}

.benefits__item-img {
  position: relative;
  margin: 0 auto;
  margin-bottom: 23px;
  width: 53px;
}

.benefits__item-img::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -3px;
  width: 47px;
  height: 21px;
  background-color: #7beec7;
  z-index: -1;
}

.benefits__item-title {
  font-size: 18px;
  line-height: 1.667;
  margin-bottom: 21px;
}

.benefits__item-text {
  font-size: 14px;
  color: #60606e;
  line-height: 2.143;
}

.plans {
  padding-bottom: 145px;
  color: #60606e;
}

.plans__title {
  text-align: center;
  position: relative;
  margin-bottom: 24px;
}

.plans__title::before {
  content: "";
  position: absolute;
  left: auto;
  bottom: -3px;
  width: 67px;
  height: 21px;
  background-color: #7beec7;
  z-index: -1;
}

.plans__subtitle {
  text-align: center;
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 1.714;
}

.plans__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans__item {
  width: 360px;
  border-top: 6px solid #7beec7;
  padding: 30px 10px 40px 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans__item:hover {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}

.plans__item-title {
  text-transform: uppercase;
  line-height: 1.6;
}

.plans__item-price {
  font-size: 14px;
  font-family: "Monsterrat bold";
  padding: 10px 23px;
  width: 180px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7beec7;
  display: inline-block;
  margin-bottom: 50px;
}

.plans__item-list {
  padding-left: 15px;
  margin-bottom: 52px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.plans__item-li {
  margin-bottom: 23px;
  position: relative;
  padding-left: 20px;
}

.plans__item-li::before {
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -20px;
  top: -5px;
}

.plans__item-btn {
  display: inline-block;
  background-color: #7beec7;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  width: 140px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.plans__item-btn:hover {
  color: #60606e;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__wrapper {
  background-color: #7beec7;
}

.footer__links-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 95px;
}

.footer__links-info {
  color: #60606e;
  text-align: right;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-li {
  text-transform: uppercase;
}

.footer__menu-li a {
  color: #60606e;
}

.footer__menu-li + .footer__menu-li {
  margin-left: 40px;
  position: relative;
}

.footer__menu-li + .footer__menu-li::before {
  content: "";
  position: absolute;
  margin-right: 25px;
  width: 4px;
  height: 1px;
  background-color: #60606e;
  left: -22px;
  top: 6px;
}

.footer__copyrights {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  color: #9a9a9a;
  line-height: 3.429;
}

.footer__social a {
  color: #60606e;
}

.footer__social a + a {
  margin-left: 15px;
}

.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__title {
  color: #fff;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 27px;
  margin-right: 97px;
}

.subscribe__btn {
  padding: 21px 30px;
  color: #7beec7;
  background-color: #fff;
  font-family: "Monsterrat bold";
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subscribe__btn:hover {
  color: #60606e;
}

.subscribe__form {
  background-color: #fff;
  padding: 20px 25px;
}

.subscribe__form-title {
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 1.5;
}

.subscribe__form-text {
  font-size: 16px;
  font-family: "OpenSans";
  color: #999999;
  line-height: 1.5;
  margin-bottom: 32px;
}

.subscribe__email-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__form-email {
  padding: 20px;
  opacity: 0.5;
  width: 376px;
}

.subscribe__form-email::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Monsterrat bold";
  color: #000000;
  text-transform: uppercase;
  line-height: 4;
  z-index: 1;
}

.subscribe__form-email:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Monsterrat bold";
  color: #000000;
  text-transform: uppercase;
  line-height: 4;
  z-index: 1;
}

.subscribe__form-email::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Monsterrat bold";
  color: #000000;
  text-transform: uppercase;
  line-height: 4;
  z-index: 1;
}

.subscribe__form-email::placeholder {
  font-size: 12px;
  font-family: "Monsterrat bold";
  color: #000000;
  text-transform: uppercase;
  line-height: 4;
  z-index: 1;
}

.subscribe__form-btn {
  background-color: #7beec7;
  padding: 21px 50px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Monsterrat bold";
  margin-left: -2px;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subscribe__form-btn:hover {
  color: #60606e;
}
/*# sourceMappingURL=style-services.css.map */